img {
  width: 500px;
  display: block;
  margin: 0 auto;
  padding: 40px;
}

body {
  background: lightyellow;
}

h1,
h6 {
  text-align: center;
}

p {
  text-align: justify;
}

a {
  display: block;
  text-align: center;
